@import base.controllers.EnvironmentAll
@import base.MyConfigImplicit.MyConfig
@* end redundant imports *@

@(
    title: String = null,
    styles: scala.List[String]=scala.List(),
    scripts: scala.List[String]=scala.List(),
    headerOn: scala.Boolean = true,
    footerOn: scala.Boolean = true,
    jqueryOn: scala.Boolean = true,
    twbootstrapOn: scala.Boolean = true
)(
    content: Html
)(
    implicit env: EnvironmentAll, request: Request[AnyContent]
)

@for(
    pageTitle <- Some( (title ?: "") + " - " + env.config.appName );
    isDevMode = env.isDevMode;
    isGoogleAnalyticsOn = !isDevMode && !env.config.googleAnalytics.number.isEmpty;

    dev = if(isDevMode) List("dev") else Nil;

    pageStyles = styles ::: dev;
    pageScripts = scripts
){
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    @if(!isDevMode){@inc.jsErrorsMonitoring()}

    <title>@pageTitle</title>

    @if(twbootstrapOn){<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">}

    @for(css <- pageStyles){<link rel="stylesheet" href="/assets/css/@{css}.css">}
</head>
<body>
        @content
@if(jqueryOn){<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>}
@if(twbootstrapOn){<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>}
@for(js <- pageScripts){
<script src="/assets/js/@{js}.js"></script>
}@if(isGoogleAnalyticsOn){@inc.googleanalytics()} </body>
</html>
}