@import base.controllers.EnvironmentAll
@import base.MyConfigImplicit.MyConfig
@import base.controllers.SecureRequest
@import base.controllers.MayBeSecureRequest
@import base.models.UserBase
@import base.controllers.RequestWrapperForTemplates.requestToGenericRequest
@*------------------------------------*@
@(
        title: String,
        styles: scala.List[String]=scala.List(),
        scripts: scala.List[String]=scala.List(),
        headerOn: scala.Boolean = true,
        footerOn: scala.Boolean = true,
        jqueryOn: scala.Boolean = true,
        twbootstrapOn: scala.Boolean = true
)(
        content: Html
)(implicit env: EnvironmentAll, request: Request[AnyContent])
@base.views.html.main(title,styles,scripts,headerOn,footerOn,jqueryOn,twbootstrapOn){
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <a class="navbar-brand" href="#">@title</a>
        <ul class="nav navbar-nav">
            @for(
                (href,title,isImplemented,dropdownList)<-List(
                    ("/feeds/","Feeds",true,List()),
                    ("/dealers/","Dealers",true,List()),
                    ("/admins/","Admins",true,List()),
                    (
                        "/setup/","Setup",true,
                            List(
                                ("jomClExtra","Jomcl Extra Fields"),
                                ("jomClCategories","Jomcl Categories"),
                                ("jomCLLocations","Jomcl Locations"),
                                ("ignoresList","Ignored"),
                                ("feedTypes","Feed Types")
                            )
                    )
                );
                isDropdown = !dropdownList.isEmpty;
                isActive = request.uri.toLowerCase.startsWith(href.toLowerCase)

            ){
                <li class="@if(isDropdown){dropdown} nav-item @if(isActive){active}"
                    @if(!isImplemented){onclick="alert('Not implemented yet');return true;"}
                >
                    @if(isDropdown){
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @title
                        </a>
                        <ul class="dropdown-menu navbar-nav">
                            <li class=nav-item> </li> @* //TODO Quirk to overcome incorrect padding in the first dropdown element *@
                            @for( (dropdownHref,dropdownTitle) <- dropdownList ) {
                                <li class="nav-item"><a class="nav-link" href="@href@dropdownHref/">@dropdownTitle</a></li>
                            }
                        </ul>

                    } else {
                        <a class="nav-link" href="@href">@title@if(isActive) {
                            <span class="sr-only">(current)</span>
                        }</a>
                    }
                </li>
            }
        </ul>

        @request.getUser.map{ user:User =>
            <ul class="nav navbar-nav pull-xs-right">
                <li class=nav-item>
                    <a class="nav-link" href="/logout">
                        @user.name
                        - @user.getPrimaryRole()
                        - Log Out
                    </a>
                </li>
            </ul>
        }
    </nav>
    <div class="container">
        @content
    </div>
}